body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.inner-page {
  text-align: left;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */

.button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  border: 0;
}

.button-small {
  font-size: 14px;
  line-height: 21px;
}

.button-brown {
  background-color: #766357;
}

.button-blue {
  background-color: #81b3d2;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* Главное меню */

.page-header {
  position: relative;
}

.page-navigation {
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 72px;

  list-style: none;
}

.navigation-item {
  box-sizing: border-box;
  width: 240px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: left;
}

.navigation-item:nth-child(4n+3) {
  margin-left: auto;
}

.navigation-item:nth-child(4n+3),
.navigation-item:nth-child(4n+4) {
  text-align: right;
}

.navigation-item a {
  color: #000000;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
}

.navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current a {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: 530px;
  width: 140px;
  height: 71px;
}

/* Баннер на главной */

.main-banner {
  padding-top: 76px;
  padding-bottom: 79px;
  margin-bottom: 60px;

  background-color: #5e7383;
  background-image:
        url("../img/intro-mask.svg"),
        url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom -2px center, center center;
  background-size: contain, cover;
}

.banner-content {
  margin: 0 auto;
}

/* Список преимуществ */

.features {
  margin-bottom: 50px;
}

.features-title {
  width: 440px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 36px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.features-subtitle {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 55px;

  line-height: 26px;
}

.features-list {
  list-style: none;
}

.features-item {
  background-color: #eeeeee;
}

.features-item-left {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/feature-list-city-sedona.jpg");
  background-repeat: no-repeat;
  background-position: right 0 bottom 20px;
  background-size: 800px;

}

.features-item-right {
  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/feature-list-bridge.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 800px;

}

.features-about {
  color: #333333;

  background-color: #ffffff;

  list-style: none;
}

.feature-title,
.about-title {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
}

.features-item-left .feature-title,
.features-item-right .feature-title {
  color: #ffffff;
}

/* Форма поиска отелей на главной */

.hotels-search {

}

.search-title {
  width: 450px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
}

.search-subtitle {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 46px;

  line-height: 24px;
}

.button-form-close {
  box-sizing: border-box;
  width: 568px;
  padding: 30px;
}

.search-form {
  box-sizing: border-box;
  width: 568px;
  padding: 55px;
  margin: 0 auto;

  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.search-item {
  margin: 0;
  margin-bottom: 30px;

  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.number-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number-items .search-item {
  display: flex;
  flex-wrap: wrap;
}

.number-field {
  padding: 0;
  margin: 0;
  margin-left: 20px;

  font-weight: 700;

  border: 0;
}

.input-date,
.input-number {
  box-sizing: border-box;
  width: 316px;

  font: inherit;

  background-color: #f2f2f2;
  border: 0;
}

.input-number  {
  width: 38px;
  text-align: center;
}

/* .input-date::placeholder и .input-number::placeholder  после автопрефиксера */

.input-date::-webkit-input-placeholder {
  color: #000000;
}

.input-date::-moz-placeholder {
  color: #000000;
}

.input-date:-ms-input-placeholder {
  color: #000000;
}

.input-date::-ms-input-placeholder {
  color: #000000;
}

.input-date::placeholder {
  color: #000000;
}

.input-number::-webkit-input-placeholder {
  color: #000000;
}

.input-number::-moz-placeholder {
  color: #000000;
}

.input-number:-ms-input-placeholder {
  color: #000000;
}

.input-number::-ms-input-placeholder {
  color: #000000;
}

.input-number::placeholder {
  color: #000000;
}

.input-date:hover,
.input-number:hover {
  background-color: #ebebeb;
}

.input-date:focus,
.input-number:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.button-calendar {
  width: 30px;
  height: 24px;

  background-color: transparent;
}

.calendar-icon {
  fill: #cacaca;
}

.button-calendar:hover .calendar-icon ,
.button-calendar:focus .calendar-icon {
  fill: #000000;
}

.button-calendar:active .calendar-icon {
  fill: #81b3d2;
}

.button-number {
  color: #cacaca;

  background-color: #f2f2f2;
}

.button-number:hover,
.button-number:focus {
  color: #000000;
}

.button-number:active {
  color: #81b3d2;
}

/* Фильтр */

.filter-form {
  padding: 0 72px;

  color: #ffffff;

  background-color: #688299;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-column {
  border: 0;
}

.filter-legend {
  font-size: 16px;
  font-weight: 700;
}

.filter-list {
  list-style: none;
}

.filter-cost {
  border: 2px solid #ffffff;
}

.filter-input {
  color: #ffffff;

  background-color: transparent;
  border: 0;
}

.button-filter {
  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-filter:hover,
.button-filter:focus,
.button-filter:active {
  color: #000000;

  background-color: #ffffff;
}

.results {
  padding: 0 72px;
}

.results-quantity {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

/* Сортировка */

.sorting {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list {
  list-style: none;
}

.sorting-item {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;
}

.sorting-item:active {
  color: #000000;

  border: 0;
}

.sorting-item-current {
  color: #81b3d2;

  border: 0;
}

.direction-icon {
  fill: #cacaca;
}

.direction:hover .direction-icon,
.direction:focus .direction-icon {
  fill: #000000;
}

.direction:active .direction-icon {
  fill: #81b3d2;
}

.direction-current .direction-icon,
.direction-current:hover .direction-icon,
.direction-current:focus .direction-icon
 {
  fill: #81b3d2;
}


/* Список отелей */

.hotels-list {
  padding: 0;
  margin: 0;

  list-style: none;
  border-top: 1px solid #e5e5e5;
}

.hotels-item {
  padding: 0;
  padding-top: 30px;
  margin: 0;

  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: flex;
  align-items: center;
  padding: 0 72px;
  margin-bottom: 30px;
}

.hotel-right-column {
  margin-left: auto;
}

.hotel-title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-title h3 {
  padding: 0;
  margin: 0;
}

.hotel-image {
  margin-right: 30px;
}

.hotel-about {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.hotel-stars {
  color: #81b3d2;
}

.hotel-rating {
  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

/* Футер */

.page-footer {
  display: flex;
  padding-top: 36px;
  padding-bottom: 32px;

  color: #000000;
}

.index-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-links {
  box-sizing: border-box;
  width: 400px;
  padding: 0;
  padding-left: 132px;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;
}

.footer-links a {
  padding: 0;
  margin: 0;

  color: #000000;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #81b3d2;
}

.footer-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-social {
  width: 400px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-copyright {
  width: 400px;

  line-height: 26px;
  vertical-align: middle;
}
