body {
  padding: 0;
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.inner-page {
  text-align: left;
}

/* Кнопки */

.button {
  display: inline-block;
  padding: 16px;

  font: inherit;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  vertical-align: middle;
  text-transform: uppercase;

  border: 0;
}

.button-small {
  padding: 3px 16px;
  margin-right: 4px;

  font-size: 14px;
  line-height: 21px;
}

.button-small:last-child {
  margin-right: 0;
}

.button-brown {
  background-color: #766357;
}

.button-blue {
  background-color: #81b3d2;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #669ec0;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

/* Главное меню */

.page-header {
  position: relative;
}

.page-navigation {
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 72px;

  list-style: none;
}

.navigation-item {
  width: 240px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: left;

  box-sizing: border-box;
}

.navigation-item:nth-child(4n+3) {
  margin-left: auto;
}

.navigation-item:nth-child(4n+3),
.navigation-item:nth-child(4n+4) {
  text-align: right;
}

.navigation-item a {
  color: #000000;
}

.navigation-item a:hover,
.navigation-item a:focus {
  color: #81b3d2;
}

.navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current a {
  color: #766357;
}

.logo {
  position: absolute;
  top: 0;
  left: 530px;
  width: 140px;
  height: 71px;
}

/* Баннер на главной */

.main-banner {
  padding-top: 76px;
  padding-bottom: 79px;
  margin-bottom: 60px;

  background-color: #5e7383;
  background-image:
        url("../img/intro-mask.svg"),
        url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: bottom -2px center, center center;
  background-size: contain, cover;
}

.banner-content {
  margin: 0 auto;
}

/* Список преимуществ */

.features-title {
  width: 440px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 36px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.features-subtitle {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 55px;

  line-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-item {
  width: 400px;
  padding-top: 50px;
  margin: 0;

  background-color: #eeeeee;

  box-sizing: border-box;
}

.features-item-left,
.features-item-right {
  width: 100%;
  padding-top: 0;

  color: #ffffff;

  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-size: 800px;
}


.features-item-left {
  background-image: url("../img/feature-list-city-sedona.jpg");
  background-position: right 0 top -70px;
}

.features-item-right {
  background-image: url("../img/feature-list-bridge.jpg");
  background-position: left center;
}

.features-column {
  width: 400px;
  padding-top: 50px;

  box-sizing: border-box;
}

.features-column-left {
  padding-top: 46px;
}

.features-column-right {
  margin-left: auto;
}

.features-about {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  color: #333333;

  background-color: #ffffff;

  list-style: none;
}

.about-item {
  width: 400px;
  padding: 0;
  padding-top: 164px;
  margin: 0;

  box-sizing: border-box;
}

.feature-title,
.about-title {
  width: 160px;
  margin: 0 auto;
  margin-bottom: 21px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
}

.features-item-left .feature-title,
.features-item-right .feature-title {
  color: #ffffff;
}

.feature-number {
  display: block;
  margin-bottom: 21px;
}

.feature-text {
  padding: 0px 49px;
  padding-bottom: 64px;
  margin: 0;
}

.about-title {
  margin-bottom: 25px;
}

.about-text {
  padding: 0px 49px;
  padding-bottom: 86px;
  margin: 0;
}

/* Форма поиска отелей на главной */

.hotels-search {
  position: relative;
  padding-top: 50px;
}

.search-title {
  width: 450px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 36px;
  color: #000000;
  font-weight: 700;
}

.search-subtitle {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 46px;

  line-height: 24px;
}

.button-form-close {
  width: 568px;
  padding: 30px;

  box-sizing: border-box;
}

.search-form {
  position: absolute;
  left: 50%;
  z-index: 100;
  margin-left: -284px;
  width: 568px;
  padding: 55px;

  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);

  box-sizing: border-box;
}

.search-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 30px;

  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.number-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 25px;
}

.number-items .search-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 226px;
}

.number-items .search-item:last-child {
  justify-content: flex-end;
}

.search-label {
  padding: 6px 0;
}

.number-field {
  padding: 0;
  margin: 0;
  margin-left: 28px;

  font-weight: 700;
  font-size: 0;

  border: 0;
}

.input-date,
.input-number {
  width: 307px;
  height: 38px;
  padding: 6px 12px;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid transparent;

  box-sizing: border-box;
}

.input-date {
  margin-left: auto;
}

.input-number  {
  width: 38px;

  font-size: 14px;
  text-align: center;
  vertical-align: baseline;

  -moz-appearance: textfield;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* .input-date::placeholder и .input-number::placeholder  после автопрефиксера */

.input-date::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-date::-moz-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-date:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-date::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-date::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-number::-webkit-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-number::-moz-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-number:-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-number::-ms-input-placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-number::placeholder {
  color: #000000;
  text-transform: uppercase;
}

.input-date:hover,
.input-number:hover {
  background-color: #ebebeb;
}

.input-date:focus,
.input-number:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.input-date:focus {
  border-right: 0;
}

.button-calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 38px;
  padding: 6px 7px;

  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-left: 0;

  box-sizing: border-box;
}

.input-date:hover + .button-calendar {
  background-color: #ebebeb;
}

.input-date:focus + .button-calendar {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-left: 0;
}

.calendar-icon {
  width: 21px;
  height: 22px;
  fill: #cacaca;
}

.button-calendar:hover .calendar-icon,
.button-calendar:focus .calendar-icon {
  fill: #000000;
}

.button-calendar:active .calendar-icon {
  fill: #81b3d2;
}

.button-number {
  width: 38px;
  height: 38px;
  padding: 6px;

  font-size: 14px;
  color: #cacaca;
  vertical-align: baseline;

  background-color: #f2f2f2;

  box-sizing: border-box;

}

.button-number:hover,
.button-number:focus {
  color: #000000;
}

.button-number:active {
  color: #81b3d2;
}

.button-search {
  width: 100%;

  box-sizing: border-box;
}

/* Карта */

.map {
  position: relative;
  height: 594px;
}

.map img {
  display: block;
}

/* Фильтр */

.filter-form {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 72px;

  color: #ffffff;

  background-color: #688299;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-column {
  width: 240px;
  padding: 0;
  margin: 0;

  border: 0;

  box-sizing: border-box;
}

.filter-column-cost {
  width: 320px;
  margin-left: auto;

}

.filter-legend {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;

  font-size: 16px;
  font-weight: 700;
}

.filter-column-cost .filter-legend {
  margin-bottom: 12px;
}

.filter-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-item {
  margin-bottom: 22px;
}

.filter-item:last-child {
  margin-bottom: 0;
}

.filter-cost {
  width: 320px;

  border: 2px solid #ffffff;

  box-sizing: border-box;
}

.filter-input {
  width: 72px;

  color: #ffffff;

  background-color: transparent;
  border: 0;

  box-sizing: border-box;
}

.button-filter {
  font-weight: 400;

  background-color: transparent;
  border: 2px solid #ffffff;
}

.button-filter:hover,
.button-filter:focus,
.button-filter:active {
  color: #000000;

  background-color: #ffffff;
}

.results {
  display: flex;
  align-items: baseline;

  padding: 30px 72px;
}

.results-quantity {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 14px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

/* Сортировка */

.sorting {
  display: flex;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting  span {
  margin-right: 40px;
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  width: 570px;
  padding: 0;
  margin: 0;


  list-style: none;
}

.sorting-list li {
  margin-right: 33px;
}

.sorting-list li:last-child {
    margin-right: 0;
}

.sorting-item {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #81b3d2;
}

.sorting-item:active {
  color: #000000;

  border: 0;
}

.sorting-item-current {
  color: #81b3d2;

  border: 0;
}

.sorting-direction {
  margin-left: auto;
}

.direction-icon {
  fill: #cacaca;
}

.direction:hover .direction-icon,
.direction:focus .direction-icon {
  fill: #000000;
}

.direction:active .direction-icon {
  fill: #81b3d2;
}

.direction-current .direction-icon,
.direction-current:hover .direction-icon,
.direction-current:focus .direction-icon {
  fill: #81b3d2;
}


/* Список отелей */

.hotels-list {
  padding: 0;
  margin: 0;

  list-style: none;
  border-top: 1px solid #e5e5e5;
}

.hotels-item {
  padding: 0;
  padding-top: 30px;
  margin: 0;

  border-bottom: 1px solid #e5e5e5;
}

.hotel {
  display: flex;

  align-items: stretch;
  padding: 0 72px;
  margin-bottom: 30px;
}

.hotel-right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: auto;
}

.hotel-title {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 6px;

  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
}

.hotel-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-title h3 {
  padding: 0;
  margin: 0;
}

.hotel-image {
  margin-right: 30px;
}

.hotel-about {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.hotel-type {
  min-width: 110px;
  padding-right: 7px;
}

.hotel-stars {
  color: #81b3d2;
  letter-spacing: 6px;
}

.hotel-rating {
  padding: 3px 13px;
  padding-left: 16px;
  margin: 0;

  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

/* Футер */

.page-footer {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 32px;

  color: #000000;
}

.index-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100%;

  background-color: rgba(255, 255, 255, 0.9);
}

.footer-links {
  width: 400px;
  padding: 0;
  padding-left: 132px;
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: left;

  box-sizing: border-box;
}

.footer-links a {
  padding: 0;
  margin: 0;

  color: #000000;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #81b3d2;
}

.footer-links a:active {
  color: rgba(0, 0, 0, 0.3);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-social li {
  margin-right: 6px;
}

.footer-social li:last-child {
  margin-right: 0;
}

.button-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  padding: 5px;

  box-sizing: border-box;
}

.button-social:active path {
  opacity: 0.3;
}


.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;

  line-height: 26px;
}

.footer-copyright span {
  display: block;
  margin-right: 6px;
}

.copyright-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-link path {
  fill: #231f20;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}
